  <p>
    <strong>Vídeo de what if...</strong>
  </p>
  <video preload="auto|metadata|none" id="mediaShowBot"  class='col-9' height='75%' controls autoplay >
    <source src="https://www.googleapis.com/drive/v3/files/1l_Tx8RFjtJCQFKX1weqyoaQcDAsezzgT?alt=media&key=AIzaSyD8AH6qVxIQFcGyquHfBGGqcZkeXk37yd4" 
    type='video/mp4'>
  </video>
  <!-- <iframe src="https://drive.google.com/file/d/1l_Tx8RFjtJCQFKX1weqyoaQcDAsezzgT/preview" id="mediaShowBot"  class='col-9' height='75%' controls autoplay></iframe>-->
  <div class="hide_array" style="display: none">
    [
      [9,12,"https://www.argentina.gob.ar", "v4, Indicación 1", "Una descripción para el v4 elemento 1."],
      [16,20,"https://www.quilmes.com.ar", "v4,Indicación 2", "Una descripción para el v4 elemento 2."],
      [3,5,"https://www.quilmes.com.ar", "v4, Indicación 3", "Una descripción para el v4 elemento 3."]
    ]
  </div>