  <p>
    <strong>Reproduciendo el Vídeo predeterminado...</strong>
  </p>
  <video preload="auto|metadata|none" id="mediaShowBot"  class='col-9' height='75%' controls autoplay >
    <source src='https://drive.google.com/uc?export=view&id=1ENjHRO4Eu-xH5Fjy3LfXLEfHweCz-yBR'
        type='video/mp4'>
  </video>
  <div class="hide_array" style="display: none">
    [
      [9,12,"https://www.buenosaires.gob.ar", "v4, Indicación 1", "Una descripción para el v4 elemento 1."],
      [16,20,"https://www.argentina.gob.ar", "v4,Indicación 2", "Una descripción para el v4 elemento 2."],
      [3,5,"https://www.quilmes.com.ar", "v4, Indicación 3", "Una descripción para el v4 elemento 3."]
    ]
  </div>