  <p>
    <strong>Reproduciendo el Vídeo predeterminado...</strong>
  </p>
  <video preload="auto|metadata|none" id="mediaShowBot"  class='col-9' height='75%' controls autoplay >
    <source src='https://drive.google.com/uc?export=view&id=1ENjHRO4Eu-xH5Fjy3LfXLEfHweCz-yBR'
        type='video/mp4'>
  </video>
  <div class="hide_array" style="display: none">
    [
      [9,12,"https://cloud-media-selector.herokuapp.com/?param1=Video2", "Thriller", "Videoclip feo..."],
      [16,20,"https://cloud-media-selector.herokuapp.com/?param1=Video2", "Thriller", "Videoclip feo..."],
      [3,5,"https://cloud-media-selector.herokuapp.com/?param1=Video2", "Thriller", "Videoclip feo..."]
    ]
  </div>