  <p>
    <strong>Reproduciendo el Vídeo 3...</strong>
  </p>
  <video preload="auto|metadata|none" id="mediaShowBot"  class='col-9' height='75%' controls autoplay >
    <source src='https://drive.google.com/uc?export=view&id=1b4A0x3maDQ46Dv3MQO1fGz2NBokK9Apw'>
    <!-- type='video/x-matroska' > -->
  </video>
  <div class="hide_array" style="display: none">
    [
      [9,12,"https://cloud-media-selector.herokuapp.com/?param1=Video2", "Thriller", "Videoclip feo..."],
      [16,20,"https://cloud-media-selector.herokuapp.com/?param1=Video2", "Thriller", "Videoclip feo..."],
      [3,5,"https://cloud-media-selector.herokuapp.com/?param1=Video2", "Thriller", "Videoclip feo..."]
    ]
  </div>